#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.memory-card {
  width: 155px;
  height: 155px;
  background-color: #f25a70;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.memory-card > .icon {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
}

.memory-card.-modify {
  background-color: #fff;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #d4d4d4;
  position: absolute;
  top: 25%;
}
